/*  your css code here. If applicable */
.strip {
	width: 100%;
	height:30px;
	background-color: #ffffff;
	margin: 0 -9999rem;
	padding: 0.25rem 9999rem;
}

.price {
	width: 100%;
	height:30px;
	background-color: #2ecc71;
	border: 2px;
    border-radius: 3px;
	
}